*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Lato', sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: black;
    padding: 0 !important;
}
.navbar-brand{
    color: #bba345 !important;
    font-weight: 500;
    padding-left: 20px;
    size:17px;
    font-family: 'Mogra', cursive;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 500;
    float: right;
    text-align: left;
    font-size: 15px;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
.img{
    height: 248px;
    width: 140px;
}
#movie{
    padding-top: 20px;
}
.containerr{
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
iframe{
    background-attachment: fixed;
    background: none;
}
#ex{
    color: #fff;
    font-family:'Lato', sans-serif;
}
.content{
    padding-right: 10px;
}
.sidebar{
    padding-left: 20px;
}
.poster{
    height: 290px;
    width: 190px
}
.title{
    font-weight: bold;
}
.year{
    font-weight: 700px;
    font-display: none;
}
.genre{
    font-weight: 590;
    font-size: 15px;
    font-display: none;
}
.sinop{
    font-weight: 580;
}
.synop{
    font-size: 16px;
    color: rgb(82, 82, 82);
}
